<h1>welcome page</h1>
<%count = 0%>
<table border = 1>
<tr>
   <td>Id</td>
   <td>Username</td>
   <td>Password</td>
   <td>Gender</td>
</tr>
<% for val in @login %>
<%count = count+1%>
   <tr>
      <td><%= count%></td>
      <td><%= val.username%></td> 
      <td><%= val.password%></td>
      <td><%= val.gender%></td>
   </tr>
<% end %>
</table>
<%= link_to 'back',:controller => 'cmanjus',:action => 'new' %>
