<%= error_messages_for "JoinEight" %>
<%=form_tag :action => 'create' do %>
<h1>Contact Us Form1</h1>
Name
<%= text_field :joins,:name%><br><br>
Email
<%= text_field :joins,:email%><br><br>
Company
<%= text_field :joins,:company_name%><br><br>
Mobile Number
<%= text_field :joins,:mobile_number%><br><br>

<br><br>

<%=submit_tag "submit"%>

<td><%=link_to 'Back',:action=>'index'%></td>
<td><%=link_to 'login',:action=>'new'%></td>
<% if session[:errors] %>
            <p class="alert alert-error">Oops! Please correct the following: 
              <ul>
              <% session[:errors].each do |msg| %>
                  <li class="error"><%= msg %></li>
              <% end %>
              </ul> 
            </p>
            <% session[:errors] = nil %>
          <% end %>
<% end %>



