<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

<%= javascript_include_tag "http://jqueryui.com/demos/autocomplete/"%>

</head>
<body>

<%= yield %>

</body>
</html>
